body { margin: 0 5px 5px 5px;padding: 0;font-family: Arial;font-size: 12px;background: #E9EFF4; }
h2 { margin: 20px 0 0 0;padding: 5px;border-bottom: 2px solid #bbb;line-height: 12px;font-size: 14px;color: #333; }
h2.item-top { margin-top: 0; }
.playground { background: #fff;margin: 0;padding: 20px; }